<div id="imgNav">
    <img src="/img/logo.png" alt="logo">
    <div id="nav"></div>
        <button><a href="/auth/index">Perfil</a></button>
        <button><a href="/auth/register">Salir</a></button>
    </div>
</div>