<h1>Edita el perfil</h1>

<p>Rellena los campos</p>

<!-- Resto del formulario -->
<label for="universityStudies">Estudios Universitarios:</label>
<input type="text" id="universityStudies" name="universityStudies">

<label for="professionalPath">Trayectoria Profesional:</label>
<input type="text" id="professionalPath" name="professionalPath">

<label for="school">Colegio:</label>
<input type="text" id="school" name="school">

<label for="leisureAreas">Zonas de Ocio:</label>
<input type="text" id="leisureAreas" name="leisureAreas">

<button type="submit" onclick="saveProfileChanges()">Guardar</button>