

<h1>Rellena la informacion</h1>

<label for="profileImage">Imagen de Perfil:</label>
<input type="file" id="profileImage" name="profileImage" accept="image/*">

  <label for="username">
    Username:
    <input type="text" name="username" placeholder="Username" value={{user.username}}>
  </label>
  <label for="email">
    Email:
    <input type="email" name="email" placeholder="Email" value={{user.email}}>
  </label>
  
  <input type="submit">
</form>