body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

a {
  color: white;
}

.backG{
  background-image: url(/img/ia-dia-a-dia.png);
  position: relative;
  background-size: 100% 100%; /* Ajusta el tamaño de la imagen para cubrir toda la pantalla */
  background-position: center;
  background-repeat: no-repeat;
  margin: 0; /* Elimina el margen predeterminado del cuerpo */
  height: 100vh 
}
.togheterBox {
  flex-direction: column;
  background-color: rgb(20, 92, 235);
  border-radius: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 200px;
  width: 400px;
  padding: 20px;
  margin-top: 200px;
  margin-left: 100px;
}

.titleLoginRe {
  font-size: 2rem;
  color: white;
}

.boxLoginRe {
  color: azure;
  font-size: 1rem;
}

nav {
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  background-color: rgb(66, 174, 250);
}

button{
  background-color: rgb(0, 162, 255);
  border-radius: 10px;
  border: 2px color(gray);
}

.boxComment{
  flex-direction: column;
  border-radius: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 200px;
  width: 400px;
  padding: 20px;
  margin-top: 200px;
  margin-left: 50px;
}

#BottomInfo{
  margin-top: 20px;
  
}

.icon{
  padding: 50px;
  height: 100px;
  width: 100px;
}

.logoRl{
  border-radius: 10px;
  position: relative;
  top: 45px;
  right: 20px;
  margin-left: 68%;
  margin-top: 50px;
}

.formProfile{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.formH1{
  font-size: 2rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 15px;
}

.buttonForm{
  margin-left: 50px;
  margin-top: 20px;
  width: 280px;
}

label {
  margin-bottom: 10px;
}

.principalBox{
  margin: 20px;
}